::ng-deep {
  ngx-konverso {
    .hidden-btn {
      visibility: hidden!important;
    }
    @keyframes dot-keyframes {
      0% {
        opacity: .4;
        transform: scale(1, 1);
      }

      50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
      }

      100% {
        opacity: .4;
        transform: scale(1, 1);
      }
    }

    .loading-dots {
      text-align: center;
      width: 100%;

      &--dot {
        animation: dot-keyframes 1.5s infinite ease-in-out;
       // background-color: #000;
        border-radius: 10px;
        display: inline-block;
        height: 10px;
        width: 10px;

        &:nth-child(2) {
          animation-delay: .5s;
        }

        &:nth-child(3) {
          animation-delay: 1s;
        }
      }
    }
    overflow: hidden;

    bot-full-screen,
    bot-first-visit {
      display: table;
      min-height: 100%;
      height: 100%;
      width: 100%;
    }

    display: block;
    min-height: 100%;
    height: 100%;

    bot-full-screen {
      button:focus,
      input:focus {
        outline: none !important;
      }

      .bot-button > * {
        position: relative;
      }

      .button-lg {
        padding: 10px !important;
        font-size: 16px !important;
      }

      .bot-button {
        cursor: pointer;
        opacity: 0.9;
        min-width: 150px;
        border-radius: 25px;
        padding: 5px;
        position: relative;
        display: block;
        margin: 30px auto;
        overflow: hidden;
        border-width: 0;
        outline: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

        span {
          display: block;
          padding: 12px 24px;
        }

        transition: opacity .3s;

        &:hover, &:focus {
          opacity: 1;
        }

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 0;
          padding-top: 0;
          border-radius: 100%;
          background-color: rgba(236, 240, 241, .3);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        &:active {
          &:before {
            width: 120%;
            padding-top: 120%;
            transition: width .2s ease-out, padding-top .2s ease-out;
          }
        }
      }

      .bot-container {
        font-family: 'nexa', 'Roboto';
        width: 100%;
        height: 100%;
        display: table;
        margin: auto;
        background-size: contain;
      }

      .bot-container > .bot-view {
        background-size: contain;
        width: auto;
        margin: auto;
        height: 100%;
        display: table-cell;
        vertical-align: middle;

        img {
          margin: auto;
        }

        bot-first-visit {
          .bot-logo-init-wrapper {
            padding-top: 5%;
            width: 100%;
            margin: auto;
            vertical-align: middle;

            img {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
          }

          .bot-init-text {
            margin-top: 4%;
            width: 100%;
            min-height: 150px;
            font-size: 20px;
            text-align: center;
          }

          .bot-init-bullet-step {
            margin-top: 5%;
            text-align: center;
            //margin: auto;
            .bot-init-dot {
              border: 1px solid;
              display: inline-block;
              width: 12px;
              height: 12px;
              margin-left: 2.5px;
              margin-right: 2.5px;
              border-radius: 50%;
            }
          }

          .bot-init-button-wrapper {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 8%;
            margin-right: auto;
            margin-left: auto;
          }
        }

        .bot-assistant-wrapper {
          display: table;
          height: 100%;
          max-height: 100%;
          overflow: hidden;
          width: 100%;
          position: relative;

          .bot-logo {
            padding-top: 2.5%;
            width: 100%;
            margin: auto;
            vertical-align: middle;

            img {
              margin-left: auto;
              margin-right: auto;
              display: block;
              width: 150px;
            }
          }

          .bot-answer {
            width: 600px;
            text-align: center;
            margin: 2.5% auto auto;
            font-size: 25px;
          }

          .user-input {
            font-size: 15px;
            margin: auto;
            display: block;
            //transform: rotate(180deg);
            // direction: ltr;

            .data {
              padding: 10px 20px;
              border-radius: 25px 25px 0px 25px;
              max-width: 550px;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
              position: relative;
              word-break: break-all;
              color: #fff;
              margin: 5% auto auto;
              background-color: #00a9de;
            }

            .time {
              font-weight: 300;
              position: absolute;
              width: 200px;
              display: block;
              margin-left: 95%;
              bottom: -1%;
              color: #000;
              font-size: 10px;
            }
          }

          .bot-input-wrapper {
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: 2%;

            input {
              text-align: center;
              display: block;
              padding: 10px;
              border-radius: 25px;
              color: black;
              width: 60%;
              margin: auto;
              border: 1px solid rgba(0, 0, 0, 0.2)
            }

            button {
              display: block;
              width: calc(36% - 15px);
              padding: 11px;
            }
          }
        }

        .bot-chat-wrapper {
          width: 100%;
          display: table;
          height: 100%;

          .bot-logo {
            max-width: 100px;

            img {
              max-width: 100px;
            }

            position: absolute;
            top: 2%;
            left: 2%;
          }


          .bot-discussion-wrapper {
            width: 100%;
            position: relative;
            max-width: 600px;
            height: calc(85vh - 50px);
            padding: 15px 30px;
            margin: 0 auto;
            overflow-y: scroll;
            direction: rtl;

            &::-webkit-scrollbar {
              width: 0 !important
            }


            .bot-chat {
              position: absolute;
              overflow-x: hidden;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;
              transform: rotate(180deg);
              min-height: 100%;
              width: 94%;

              .bot-answer {
                font-size: 15px;
                padding: 10px 20px;
                border-radius: 25px;
                color: #000;
                background-color: transparent;
                max-width: 550px;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                position: relative;
                margin: 15px 0;
                word-break: break-all;
                transform: rotate(180deg);
                direction: ltr;

                button {
                  padding: 10px;
                  border: 1px solid;
                }
              }

              .user-input {
                font-size: 15px;
                transform: rotate(180deg);
                direction: ltr;

                .data {
                  padding: 10px 20px;
                  border-radius: 25px 25px 0px 25px;
                  max-width: 550px;
                  width: -webkit-fit-content;
                  width: -moz-fit-content;
                  width: fit-content;
                  position: relative;
                  word-break: break-all;
                  color: #fff;
                  margin: 15px 0 15px auto;
                  background-color: #00a9de;
                }

                .time {
                  font-weight: 300;
                  position: absolute;
                  width: 200px;
                  display: block;
                  margin-left: 95%;
                  bottom: -1%;
                  color: #000;
                  font-size: 10px;
                }
              }
            }
          }

          .bot-input-wrapper {
            display: table;
            width: 100%;
            margin: auto;

            .bot-input-disable {
              width: 100%;
              max-width: 600px;
              margin: auto auto 10px;
              min-height: 100px;
              max-height: 200px;
              padding: 2.5% 2.5% 0.5% 0.3%;
              text-align: center;
            }

            .bot-input {
              width: 100%;
              max-width: 600px;
              margin: auto auto 10px;
              min-height: 100px;
              max-height: 200px;
              padding: 2.5% 2.5% 0.5% 2.5%;

              input {
                display: inline-block;
                padding: 10px;
                border-radius: 25px;
                color: black;
                width: 60%;
                margin-right: 15px;
                border: 1px solid rgba(0, 0, 0, 0.2)
              }

              button {
                display: inline-block;
                width: calc(36% - 15px);
                padding: 11px;
              }
            }
          }

        }
      }
    }


    .bot-mobile {
        font-family: 'nexa', 'Roboto';
        width: 96vw !important;
        height: 100vh;
        display: table;
        margin: auto;
        background-size: contain;

        .bot-view {
          bot-first-visit {
            position: relative;
            .bot-logo-init-wrapper {
              margin-top: 2.5vh;
              img {
                margin-left: auto;
                margin-right: auto;
                display: block;
                max-width: 150px;
              }
            }

            .bot-init-text {
              margin-top: 4%;
              width: 100%;
            //  max-width: 96% !important;
              min-height: 150px;
              font-size: 15px!important;
              text-align: center;
            }

            .bot-init-button-wrapper {
              position: absolute;
              top: 70vh
            }

          }
          .bot-assistant-wrapper {
            .bot-answer {
              width: 70vw !important;
              text-align: center;
              margin: 15.5% auto auto!important;
              font-size: 15px!important;
            }

            .bot-input-wrapper {
              background: white;
              bottom: 10vh!important;
              input {
                width: 90% !important;
              }
            }
          }
        }
    }
  }
}


